@import url(dexterous-ui.netlify.app/stylesheets/main.css);

@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

.navigation{
    background-color: #004643;
    justify-content: space-between;
}

.banner-image{
    background-image: url(/assets/gourmet\ bg.jpg);
    height: calc(100vh - 5rem);
    background-position: center;
    background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.flex-row{
    align-items: center;
    gap: 0;
}

.btn-link-noBorder{
    color: #fffffe;
}

.brand-heading{
    color: #fffffe;
}

.overlay-text{
    color: #fffffe;
    font-size: 2rem;
    font-weight: 600;
}


.overlay-text-container{
    background-color: hsla(177, 100%, 14%, 0.6);
}

.card-badge-position{
    position: absolute;
    bottom: 1;
    left: 0;
}

.grid-4-col{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(20rem, 1fr));
    place-content: center ;
    column-gap: 1rem;
    row-gap: 1rem;
}

.navigation .btn{
    padding: 1rem;
}

.navigation .btn:hover,.navigation .btn-link-noBorder:hover{
   color: #f9bc60;

}
